---
---
$primary: #0041b7;
@use "main";

.navbar + section.hero::before {
  content: "";
  display: block;
  background-image: url('https://github.com/Fortress64/fortress64.github.io/blob/main/img/logos/Fortress64-Logo-Transparent-Light.webp');
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
}

a:hover {
  color: #b70000 !important;
}
